{% extends 'main_s/base.html' %}

{% block title %} {{ course.title|capfirst }} | Video {% endblock %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            
            {% if course.classe == 'DUT1' %}
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <span class="badge bg-primary">{{ course.subject }} | {{ course.classe }}</span>
                <a href="{% url 'cours_etudiant' %}" class="btn btn-close" style="text-decoration: none;"></a>
            </div>
            
            {% else %}
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <span class="badge bg-success">{{ course.subject }} | {{ course.classe }}</span>
                <a href="{% url 'cours_etudiant' %}" class="btn btn-close" style="text-decoration: none;"></a>
            </div>
            {% endif %}   

            <div class="video-container">
                {% if video_url %}
                <video class="video" controls>
                    <source src="{{ video_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% else %}
                <p>No video available for this course.</p>
                {% endif %}
            </div>
            
            <h1 class="mt-3">{{ course.title|capfirst}}</h1>
            <p>{{ course.description|capfirst }}</p>
                
            <h6 class="mb-3"><img src="{% static 'test/account.svg' %}" alt="Account Icon" width="24" height="24">
                &nbsp;Dr {{ course.teacher.first_name }}  {{ course.teacher.last_name }}</h6> 
        </div>
    </div>
</div>
{% endblock %}
